@import url(https://fonts.google.com/share?selection.family=Roboto:wght@300);
.btn-gral {
  width: 290px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  background-color: rgba(46, 206, 206, 0.952);
}

.container {
  background-color: rgb(63, 94, 134);
  width: auto;
  height: auto;
  margin-top: 5px;
  padding: 15px;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.principal {
  background-color: rgb(194, 240, 241);
  width: 100%;
}

.grids-accesorios {
  width: auto;
  height: 140px;
  border: 5px solid rgba(136, 32, 25, 0.356);
  background-color: rgb(63, 94, 134);
  margin: 25px;
  text-align: center;
  line-height: 100px;
}

h1 {
  color: rgb(5, 141, 187);
}

h3 {
  color: rgba(46, 206, 206, 0.952);
}

h5 {
  color: rgb(63, 94, 134);
}

.text-center {
  display: grid;
  justify-content: center;
}

.text-left {
  text-align: left;
}

header img {
  width: 10;
}

nav, footer {
  background-color: rgb(8, 85, 66);
  padding: 5px 35px;
}

nav ul li {
  display: inline-block;
  margin: 4px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(136, 217, 231);
}

h2 {
  color: rgba(46, 206, 206, 0.952);
}

.card h2 {
  color: rgb(7, 136, 87);
}

.container {
  background-color: rgba(15, 77, 77, 0.952);
  width: 100%;
  height: auto;
  margin: auto;
  padding: 25px;
  border: double 3px rgb(67, 248, 149);
}

.centro {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 35px;
  border: double 3px rgb(120, 255, 248);
}

.card h2 {
  color: rgb(63, 94, 134);
}

.cajas {
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(223, 226, 233);
}

.cajas figure {
  width: 80%;
}

img {
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
}

button {
  padding: 15px 30px;
  border-radius: 15px;
  border: none;
}

body {
  background-color: rgba(0, 43, 78, 0.87);
}

.alinear {
  width: 350px;
  height: 230px;
  margin: 5 5px;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .alinear {
    margin-bottom: 10px;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  grid-gap: 10px;
}

.galeria {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-neon {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: rgb(2, 27, 13);
  letter-spacing: 4px;
  font-size: 24px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

.btn-neon:hover {
  background-color: rgb(107, 231, 163);
  box-shadow: 0 0 10px rgb(107, 231, 163), 0 0 40px rgb(107, 231, 163), 0 0 80px rgb(107, 231, 163);
}

.btn-neon span {
  position: absolute;
  display: block;
}

#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background-color: linear-gradient(90deg, transparent, rgb107, 231, 163);
}

.btn-neon:hover #span1 {
  left: 100%;
  transition: 1s;
}

#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background-color: linear-gradient(270deg, transparent, rgb107, 231, 163);
}

.btn-neon:hover #span3 {
  right: 100%;
  transition: 1s;
}

.btn {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: white;
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
}
.btn:after, .btn:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}
.btn:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid black;
  border-left: 5px solid black;
}
.btn:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}
.btn:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.btn:hover:before, .btn:hover:after {
  width: 100%;
  height: 100%;
}

.data-container {
  background: #ffebee;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing_effect {
  margin: 50px auto;
  width: -moz-max-content;
  width: max-content;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2rem;
  animation: teclear 3s steps(16), efecto 0.5s step-end infinite alternate;
}

@keyframes teclear {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@keyframes efecto {
  50% {
    border-color: transparent;
  }
}
.caja {
  width: 500px;
  background-color: brown;
  margin: 15px 50px;
  padding: 50px;
  border: 5px solid rgb(28, 23, 75);
  justify-content: end;
}

.botones {
  background-color: rgb(63, 94, 134);
}
.botones ul {
  padding: 10px;
}
.botones ul li {
  list-style: none;
}

.productos {
  padding: 25px 35px;
  display: flex;
  flex-wrap: wrap;
}
.productos productos figure {
  width: 40%;
  margin-bottom: 15%;
}/*# sourceMappingURL=main.css.map */