*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: ;

}

body{
    background-image: url(../img/fondo.png);
}
.principal{
    background-color: rgb(0, 247, 255);
    width: fit-content;
}
.productos{
    padding: 25px 35px;
    display: flex;
    flex-wrap: wrap;
}
.productos figure{
    width: 40%;
    margin-bottom: 15%;
}
.grids-accesorios{
    width: auto;
    height: 150px;
    border: 5px solid rgb(119, 145, 112);
    background-color: rgb(57, 163, 110);
    margin:25px;
    text-align: center;
    line-height: 100px;
}
.accion{
    position: ;
    padding: 5px;
}
.accion input{
    width: 200px;
    height: 40px;
    font-size: 20px;
    color: rgb(28, 158, 119);
    border-radius: 30px;
    text-align: end;
}
/* selectores */
h1{
    color: rgb(40, 66, 62);
    font-size:
    
}   
h3{
    color: rgb(19, 70, 83);

}
    
.text-center{
    text-align: center;

}

.text-left{
    text-align: left;
}
header img{
    width: 10;
}

nav, footer{
    background-color:rgb(8, 85, 66);
    padding: 5px 35px;
}
   
   nav ul li{
    display: inline-block;
    margin: 4px;
   }
   nav ul li a{
    text-decoration: none;
    color: rgb(136, 217, 231);
   }

h2{
    color: rgb(21, 45, 46);   
}
.card h2{
    color: rgb(7, 136, 87);
}

.container{
    background-color: rgba(15, 77, 77, 0.952);
    width: 100%;
    height: auto;
    margin: auto;
    padding: 25px; 
    border: double 3px rgb(146, 10, 10);
}
.centro{
    margin: auto;
    height: auto;
    
}
    


        
