*{
    font-family: $mainfont;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.principal{
    background-color: rgb(194, 240, 241);
    width: 100%
}
.grids-accesorios{
    width: auto;
    height: 140px;
    border: 5px solid rgba(2, 63, 124, 0.753);
    background-color:$maincolor;
    margin:25px;
    text-align: center;
    line-height: 100px;
}
h1{
    color:$keycolor;
}   
h3{
    color:$secondaryColor;
}
h5{
    color:$maincolor;
}
.text-center{
    display: grid;
    justify-content: center;
}
.text-left{
    text-align: left;
}
header img{
    width: 10;
}
nav, footer{
    background-color:rgb(8, 85, 66);
    padding: 5px 35px;
}
nav ul li{
    display: inline-block;
    margin: 4px;
   }
   nav ul li a{
    text-decoration: none;
    color: rgb(136, 217, 231);
   }
h2{
    color: $secondaryColor   
}
.card h2{
    color: rgb(7, 136, 87);
}
.container{
    background-color: rgba(66, 143, 194, 0.664);
    width: 100%;
    height: auto;
    margin: auto;
    padding: 25px; 
    border: double 3px rgb(67, 248, 149);
}
.centro{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 35px; 
    border: double 3px rgb(120, 255, 248);
}
.card h2{
    color:$maincolor;
}
.card{
    padding: 45px;    
}
.cajas{
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(223, 226, 233);
}
.cajas figure{
    width: 80%;
}
img{
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgb(15, 15, 15, .5);
}
button{
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
}
body{
    background-color: rgba(92, 179, 145, 0.973);
    background-image: url(/img/accesorios.png);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.alinear{
    width: 350px;
    height: 230px;
    margin: 5 5px;
 }
@media (max-width: 900px){
    .container{
        flex-direction: column;
        align-items: center;
    }
    .alinear{
        margin-bottom: 10px;
    }
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    grid-gap: 10px;
}
.galeria{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: rgb(2, 27, 13);
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover{
    background-color: rgb(107, 231, 163); 
    box-shadow: 0 0 10px rgb(107, 231, 163), 0 0 40px rgb(107, 231, 163), 0 0 80px rgb(107, 231, 163);
}
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-color: linear-gradient(90deg,transparent,rgb107,231,163);
}
.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background-color: linear-gradient(270deg,transparent,rgb107,231,163);
}
.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
}
.btn{
    cursor:pointer;
        position:relative;
        padding:10px 20px;
        background:white;
        font-size:28px;
        border-top-right-radius:10px;
        border-bottom-left-radius:10px;
        transition:all 1s;
        &:after,&:before{
            content:" ";
            width:10px;
            height:10px;
            position:absolute;
            border :0px solid #fff;
            transition:all 1s;
            }
        &:after{
            top:-1px;
            left:-1px;
            border-top:5px solid black;
            border-left:5px solid black;
        }
        &:before{
            bottom:-1px;
            right:-1px;
            border-bottom:5px solid black;
            border-right:5px solid black;
        }
        &:hover{
            border-top-right-radius:0px;
        border-bottom-left-radius:0px;
            // background:rgba(0,0,0,.5);
            // color:white;
            &:before,&:after{
                
                width:100%;
                height:100%;
                // border-color:white;
            }
        }
    }
    .data-container{
        background:#ffebee;
        height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
    }
.typing_effect{
    margin: 50px auto;
    width: max-content;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2rem;
    animation: teclear 3s steps(16), efecto .5s step-end infinite alternate;
}
@keyframes teclear{
    from{
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}
@keyframes efecto{
    50%{
        border-color: transparent;  
    }
}
.caja{
    width: 500px;
    background-color: rgb(103, 141, 199);
    margin: 15px 50px;
    padding: 50px;
    border: 5px solid rgb(28, 23, 75);
}
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    } 
    100%{
        transform: translateY(-10vh) scale(1);
    }
}
.parent {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .div1 { grid-area: 2 / 2 / 3 / 3; }
    .div3 { grid-area: 1 / 2 / 2 / 3; }
    .div5 { grid-area: 3 / 2 / 4 / 3; }
.foto{
    width: 50%;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.cart{
    width: 100%;
    margin: 35px;
    border-radius: 6px;
    overflow:hidden ;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}
.box{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;    
}
.modelo{
    background-color: rgb(6, 133, 101);
    width:410px;
    height: auto;
    margin: 20px auto;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    border: solid 2px rgba(255, 255, 255, 0.932);
}
.capture{
    background-color: rgb(3, 110, 84);
    width:410px;
    height: auto;
    margin: 15px auto;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    border: solid 2px rgba(65, 0, 0, 0.932);
}