 $maincolor:rgb(31, 102, 66);
 $secondaryColor: rgba(15, 77, 77, 0.952);
 $keycolor: rgb(45, 112, 45);
 $white: rgb(13, 119, 54);

 $mainfont:'Roboto', sans-serif;
 
 $textregular:400;
 $textlight:300;
 $textbold:600;

 $textmd: 1em;
 $textlg:2em;
 $textx1:3em;

