 $maincolor:rgb(0, 255, 170);
 $secondaryColor: rgba(34, 34, 34, 0.952);
 $keycolor: rgb(12, 12, 12);
 $white: rgb(3, 5, 4);

 $mainfont:'Roboto', sans-serif;
 
 $textregular:400;
 $textlight:300;
 $textbold:600;

 $textmd: 1em;
 $textlg:2em;
 $textx1:3em;

