 $maincolor:rgb(63, 94, 134);
 $secondaryColor: rgba(46, 206, 206, 0.952);
 $keycolor: rgb(5, 141, 187);
 $white: rgb(13, 119, 54);

 $mainfont:'Roboto', sans-serif;
 
 $textregular:400;
 $textlight:300;
 $textbold:600;

 $textmd: 1em;
 $textlg:2em;
 $textx1:3em;

